/node_modules
/public/hot
/public/css
/public/files
/public/js
/public/storage
/public/vendor
/storage/search
/storage/*.key
/storage/*.index
/vendor
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
